<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .completed{
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>
<body>
    <div id="todo">
        {% comment %} select 박스 만들기
        v-model의 양방향 바인딩을 이용하여 설정된 status의 옵션이 변경될 때마다
        상태가 자동으로 변경된다. (보이는 목록이 변경됨) {% endcomment %}
        <select v-model="status">
            <option value="all">전체</option>
            <option value="inProgress">진행중</option>
            <option value="completed">완료</option>
        </select>
        <input type="text" v-model="content">
        <button @click="addTodo">+</button>
        <ul>
            <li v-for="work in filterList":key="work.date">
            {% comment %} :checked="work.completed" 는 체크 박스의 상태를 업데이트 하기 위해 필요하다.
            input요소의 checked 속성을 work.completed 값으로 바인딩하여 상태를 변경한다. {% endcomment %}
            <input type="checkbox" @click="check(work)" :checked="work.completed">
            <span :class="{ completed : work.completed }">{{ work.content }}</span>
            </li> 
        </ul>
        <button @click="deletelist">완료된 할 일 지우기</button>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const Todo = new Vue ({
        el:"#todo",
        data:{
            content:'',
            TodoList:[],
            // 기본 값을 all로 설정
            status:'all',
        },
        // localStorage에 todoList와 status를 만든다.
        created(){
            const todoList = JSON.parse(localStorage.getItem('todoList'));
            const status = localStorage.getItem('status');
            // 비어있지 않다면 TodoList는 todoList, status는 status
            if (todoList !== null) {
                this.TodoList = todoList;
            }
            if (status !== null) {
                this.status = status;
            } 
        },
        methods:{
            addTodo: function(){
                if (this.content ==='') {
                    alert('내용을 입력해 주세요!')
                }
                else {
                    const work = {
                        content:this.content,
                        completed:false,
                        date: new Date().getTime(),
                    }
                    this.TodoList.push(work)
                    this.content=''
                    // 입력, 삭제 등 상태가 변경될 때마다 localStorage에 저장한다.
                    localStorage.setItem('todoList', JSON.stringify(this.TodoList))
                }
            },
            check: function(work){
                work.completed = !work.completed
                localStorage.setItem('todoList', JSON.stringify(this.TodoList))
            },
            deletelist: function(){
                this.TodoList=this.TodoList.filter((work) => !work.completed)
                localStorage.setItem('todoList', JSON.stringify(this.TodoList))
            }
        },
        // select의 상태에 따라 보여주는 리스트를 변경한다.
        computed: {
            filterList() {
              if (this.status === 'all') {
                return this.TodoList;
              } else if (this.status === 'inProgress') {
                return this.TodoList.filter(work => !work.completed);
              } else if (this.status === 'completed') {
                return this.TodoList.filter(work => work.completed);
              }
            }
          },
        // watch를 통해 status와 TodoList의 상태가 변경되는 것을 확인하고 저장한다.
        watch: {
            status: function() {
                localStorage.setItem('status', this.status);
            },
            TodoList: function() {
                localStorage.setItem('todoList', JSON.stringify(this.TodoList));
            }
        },
    })

</script>
</html>
