<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .completed{
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>
<body>
    <div id="todo">
        <h1>Todo List</h1>
        <input type="text" v-model="content">
        <button @click="addTodo">+</button>
        <ul>
          <li v-for="work in TodoList":key="work.date">
            <input type="checkbox" @click="check(work)">
            <span :class="{ completed : work.completed }">{{ work.content }}</span>
          </li> 
        </ul>
        <button @click="deletelist">완료 목록 삭제</button>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const Todo = new Vue ({
        el:"#todo",
        data:{
            content:'',
            TodoList:[]
        },
        methods:{
            addTodo: function(){
                if (this.content ==='') {
                    alert('내용을 입력해 주세요!')
                }
                else {
                    const work = {
                        content:this.content,
                        completed:false,
                        date: new Date().getTime(),
                    }
                    this.TodoList.push(work)
                    this.content=''
                }
            },
            check: function(work){
                work.completed = !work.completed
            },
            deletelist: function(){
                this.TodoList=this.TodoList.filter((work) => !work.completed)
            }
        }
    })

</script>
</html>